<div class="row table-responsive">
  <table class="d-flex flex-wrap table table-hover" aria-label="orders">
    <thead>
      <tr class="card w-100 align-items-center my-md-2">
        <div class="card-header d-flex align-items-center">
          <th class="col-width-16">
            <h5>Name</h5>
          </th>
          <div class="ms-auto d-flex align-items-center text-center">
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <h5>Auto trade</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <h5>Type</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <h5>Status</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-10">
              <h5>Created on</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <h5>Quantity</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <h5>Base price</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-10">
              <h5>Total</h5>
            </th>
            <th scope="col" class="px-1 border-start border-2 col-width-6">
              <button class="btn invisible">Cancel</button>
            </th>
          </div>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr
        class="card w-100 align-items-center my-md-2"
        *ngFor="let order of orders">
        <div class="card-body d-flex align-items-center">
          <td
            class="d-flex align-items-center col-width-16"
            role="button"
            routerLink="/order/{{ order.id }}">
            <img
              [src]="order.article.image"
              [alt]="order.article.name"
              class="article-image mw-100 me-3" />
            <h5 class="card-text">{{ order.article.name }}</h5>
          </td>
          <div class="ms-auto d-flex align-items-center text-center">
            <span
              class="d-flex align-items-center text-center"
              role="button"
              routerLink="/order/{{ order.id }}">
              <td class="px-1 col-width-6">
                <h5 *ngIf="order.enabledAutoTrade">✔️</h5>
                <h5 *ngIf="!order.enabledAutoTrade">❌</h5>
              </td>
              <td class="px-1 col-width-6">
                <h5>{{ order.type }}</h5>
              </td>
              <td class="px-1 col-width-6">
                <h5>{{ order.status }}</h5>
              </td>
              <td class="px-1 col-width-10">
                <h5>{{ order.createdDateTime | date : 'short' }}</h5>
              </td>
              <td class="px-1 col-width-6">
                <h5>{{ order.filledQuantity }} ( {{ order.quantity }} )</h5>
              </td>
              <td class="px-1 col-width-6">
                <h5>{{ order.price.amount | currency }}</h5>
                <h5 *ngIf="order.type === 'SELL'">
                  {{ order.lowerSellPrice.amount | currency }}
                </h5>
              </td>
              <td class="px-1 col-width-10">
                <h5>{{ calculateTotalPrice(order) | currency }}</h5>
              </td>
            </span>
            <td class="px-1 col-width-6">
              <button
                class="btn btn-danger"
                (click)="deleteOrder(order.id)"
                *ngIf="order.status === 'OPEN'">
                Cancel
              </button>
              <button class="btn invisible" *ngIf="order.status === 'CLOSED'">
                Cancel
              </button>
            </td>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
