<div class="row pb-5">
  <div class="col pt-5 me-5 text-center">
    <h1 class="">
      Marketplace for <strong class="text-primary">fast</strong> and
      <strong class="text-primary">easy trading</strong>
    </h1>
    <p class="lead text-secondary">
      Welcome to the best marketplace in the world! We provide you with the best
      deals. Just register and start trading! It's that easy!
    </p>
    <div class="pt-5">
      <button routerLink="/register" class="btn btn-primary p-2 me-3">
        Join us
      </button>
      <button
        routerLink="/articles"
        class="btn btn-outline-secondary text-primary p-2 me-3">
        Explore articles
      </button>
    </div>
  </div>
  <div class="col">
    <img
      src="../../../assets/images/34x34icons.png"
      alt="homepage image"
      class="mw-100" />
  </div>
</div>
