<div class="row header pb-4">
  <div class="text-center">
    <h1 class="display-6">Market</h1>
    <p class="lead">
      Buy and sell items with community members for Wallet funds.
    </p>
  </div>
</div>
<div class="pb-4" *appHasRole="['ROLE_USER']">
  <app-user-wallet-info></app-user-wallet-info>
</div>
<div class="row pb-4">
  <div class="card w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <img
            [src]="article.image"
            [alt]="article.name"
            class="article-image-details mw-100 me-3" />
        </div>
        <div class="col-8">
          <h5 class="card-text display-5 mt-3">
            {{ article.name }}
          </h5>
          <p class="card-text mt-3">
            {{ article.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pb-4" *appHasRole="['ROLE_USER']">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-primary px-5 me-5"
          data-bs-toggle="modal"
          data-bs-target="#buyModal">
          <span class="display-6">Buy</span>
        </button>
        <button class="btn btn-primary px-5 ms-5" routerLink="/inventory">
          <span class="display-6">Sell</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="card col-sm-4 px-0 m-2">
          <div class="card-header text-end">
            <h5>SELL</h5>
          </div>
          <div class="card-body">
            <div class="row fs-5 pb-3">
              <div class="col">AMOUNT</div>
              <div class="col text-end">PRICE</div>
            </div>
            <div
              class="row fs-5 pb-3"
              *ngFor="let sellOrder of orderBook.sellOrders">
              <div class="col">{{ sellOrder.quantity }}</div>
              <div class="col text-end">
                {{ sellOrder.price.amount | currency }}
              </div>
            </div>
          </div>
        </div>
        <div class="card col-sm-4 px-0 m-2">
          <div class="card-header">
            <h5>BUY</h5>
          </div>
          <div class="card-body">
            <div class="row fs-5 pb-3">
              <div class="col">PRICE</div>
              <div class="col text-end">AMOUNT</div>
            </div>
            <div
              class="row fs-5 pb-3"
              *ngFor="let buyOrder of orderBook.buyOrders">
              <div class="col">{{ buyOrder.price.amount | currency }}</div>
              <div class="col text-end">{{ buyOrder.quantity }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="buyModal"
  tabindex="-1"
  aria-labelledby="BuyModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="buyModalTitle">Buy - {{ article.name }}</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="priceInput" class="mb-2">
          What price do you want to pay:
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Price</span>
          <span class="input-group-text">0.00</span>
          <input
            id="priceInput"
            type="number"
            class="form-control"
            min="0"
            [(ngModel)]="newOrder.price.amount" />
          <span class="input-group-text">$</span>
        </div>
        <label for="quantityInput" class="mb-2">
          How many do you want to buy:
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Quantity</span>
          <span class="input-group-text">0.00</span>
          <input
            id="quantityInput"
            type="number"
            class="form-control"
            min="0.01"
            [(ngModel)]="newOrder.quantity" />
        </div>
        <label for="autoTradeInput" class="mb-2">
          Do you want to automatically trade:
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Automatic trade</span>
          <input
            id="autoTradeInput"
            type="checkbox"
            class="form-check-input m-0 form-check h-auto"
            [(ngModel)]="newOrder.enabledAutoTrade" />
        </div>
        <div class="mb-1 text-end">
          Maximum price:
          <h5>
            {{ newOrder.price.amount * newOrder.quantity | currency }}
          </h5>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="placeOrder()"
          data-bs-dismiss="modal">
          Place order
        </button>
      </div>
    </div>
  </div>
</div>
