.article-image-details {
  width: 15rem;
  height: 100%;
}

.selected-item {
  background-color: #e0e0e0;
}

.card-body-sm-p {
  flex: 1 1 auto;
  padding: 0.5rem 0.5rem;
  color: var(--bs-card-color);
}

.link {
  color: var(--bs-primary);
  text-decoration: none;
  cursor: pointer;
}
